body{
    font-family: 'Noto Sans', sans-serif;
    background-image: url('../img/congruent_pentagon.png');
    /*Thanks to subtle patterns
    https://www.toptal.com/designers/subtlepatterns/congruent-pentagon/*/
}

.rows{
    width: 100% !important;
    margin: 0 !important;
}

.navbar{
    font-size: 20px;
}

.nav-link:hover{
    text-decoration: none;
}

.navbar-brand{
    font-size: 25px;
    transition: all .5s ease;
}

.navbar-brand:hover{
    text-decoration: none;
    transform: scale(1.2);
}

.bg-MDe{
  background-color: rgba(36, 36, 41, 0);
}

#work-place{
    color: black;
    width: 100%;
    height: 85vh;
    border-radius: 20px;
    border-width: 0px;
    padding: 1vw;
    resize: none;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1); 
    -moz-box-shadow: 0px 10px 25px -7px rgb(228, 228, 245);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

#display-area{
    overflow-x: auto;
    background-color: #ffffff;
    height: 85vh;
    padding: 1vw;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1); 
    -moz-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    white-space: pre-wrap;
}

.bquote{
    background-color: rgb(250, 250, 250);
    display: block;
    border-style: none none none solid;
    border-width: 8px;
    border-color: rgba(130, 130, 130, 0.5);
    padding: 10px 2px;
}

.horizonLine{
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgba(130, 130, 130, 0.5);
    padding-bottom: 5px;
}

.bttn{
    font-size: 15px;
    margin-right: 1vw;
    margin-top: 1vw;
    padding: 5px;
    background-color: rgba(130, 130, 130, 0);
    border-style: none solid none solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.bttn:hover{
    background-color: #000;
    color: #fff;
}