body {
    font-family: 'Noto Sans', sans-serif;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/congruent_pentagon.png');
    /*Thanks to subtle patterns
    https://www.toptal.com/designers/subtlepatterns/congruent-pentagon/*/
}

.rows {
    width: 100% !important;
    margin: 0 !important;
}

.navbar {
    font-size: 20px;
}

.nav-link:hover {
    text-decoration: none;
}

.navbar-brand {
    font-size: 25px;
    transition: all .5s ease;
}

.navbar-brand:hover {
    text-decoration: none;
}

.bg-MDe {
    background-color: rgba(36, 36, 41, 0);
}

#document-list {
    width: 30%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

#document-preview {
    width: 70%;
    height: auto;
}

#document-view {
    height: 82vh;
    padding: 1vw;
    text-align: left;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    -moz-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

.list-title {
    font-size: 1.8em;
    font-weight: 600;
    background-color: #B3F2C9;
    border-radius: 20px;
    margin-bottom: 1vw;
    -webkit-box-shadow: 8px 8px 47px -7px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 47px -7px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 47px -7px rgba(66, 68, 90, 1);
}

.document-item {
    border-radius: 20px;
    transition: all .2s ease-in-out;
    margin-bottom: 1vw;
    -webkit-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
}

.document-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    -moz-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

#item-no-hover:hover {
    cursor: auto;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);}

.bttn{
    font-size: 15px;
    margin: 1vw 1vw 0 0;
    padding: 5px;
    background-color: rgba(130, 130, 130, 0);
    border-style: none solid none solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.bttn:hover{
    background-color: #000;
    color: #fff;
}

.mini-notification {
    color:rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    width: 15vw;
    height: 3vw;
    margin: 1vw;
    padding: .5vw;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all .1s ease-in-out;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1); 
    -moz-box-shadow: 0px 10px 25px -7px rgb(228, 228, 245);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

.mini-notification:hover {
    cursor: pointer;
    color:rgb(255, 77, 77) !important;
}