body {
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/congruent_pentagon.png');
    /*Thanks to subtle patterns
    https://www.toptal.com/designers/subtlepatterns/congruent-pentagon/*/
}

.rows {
    width: 100% !important;
    margin: 0 !important;
}

.navbar {
    font-size: 20px;
}

.nav-link:hover {
    text-decoration: none;
}

.navbar-brand {
    font-size: 25px;
    transition: all .5s ease;
}

.navbar-brand:hover {
    text-decoration: none;
}

.bg-MDe {
    background-color: rgba(36, 36, 41, 0);
}

#document-list {
    width: 30%;
    height: 90vh;
    padding: 1%;
    text-align: center;
    overflow: auto;
}

#document-preview {
    width: 70%;
    height: auto;
}

#document-view {
    height: 81vh;
    padding: 1vw;
    margin-top: 1%;
    text-align: left;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    -moz-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

.document-item {
    border-radius: 20px;
    transition: all .2s ease-in-out;
    margin-bottom: 1vw;
    -webkit-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
}

.document-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    -moz-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

#item-no-hover:hover {
    cursor: auto;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 23px -5px rgba(66, 68, 90, 1);
}

.bttn {
    font-size: 15px;
    margin: 1vw 1vw 0 0;
    padding: 5px;
    background-color: rgba(130, 130, 130, 0);
    border-style: none solid none solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.bttn:hover {
    background-color: #000;
    color: #fff;
}

.mini-notification {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    width: 15vw;
    height: 3vw;
    margin: 1vw;
    padding: .5vw;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: all .1s ease-in-out;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    -moz-box-shadow: 0px 10px 25px -7px rgb(228, 228, 245);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

.mini-notification:hover {
    cursor: pointer;
    color: rgb(255, 77, 77) !important;
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.8);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { 
    background: rgba(150, 150, 150, 1);
}

a{
    text-decoration: none;
    color:#e9820c;
}

a:hover{
    text-decoration: underline;
    color:#dd500f
}

a:visited{
    color: #dd500f;
}


@media only screen and (max-width: 425px) {

    body {
        overflow: scroll;
    }

    #document-list {
        width: 100%;
        height: auto;
        max-height: 15vh;
    }

    #document-preview {
        width: 100%;
    }

    #document-view {
        height: auto;
        min-height: 62vh;
        padding: 10px;
    }

    .document-item {
        padding: 5px 0;
    }

    aside {
        margin-top: 1vh;
    }

    .bttn {
        width: 100%;
        margin: 5px 0;
        border-style: solid;
    }

    .mini-notification {
        width: 98%;
        height: 4vh;
    }
}