body{
    font-family: 'Noto Sans', sans-serif;
    background-image: url('../img/congruent_pentagon.png');
    /*Thanks to subtle patterns
    https://www.toptal.com/designers/subtlepatterns/congruent-pentagon/*/
}

a{
    text-decoration: none;
    color:#e9820c;
}

a:hover{
    text-decoration: underline;
    color:#dd500f
}

a:visited{
    color: #dd500f;
}

.rows{
    width: 100% !important;
    margin: 0 !important;
}

.navbar{
    font-size: 20px;
}

.nav-link:hover{
    text-decoration: none;
}

.navbar-brand{
    font-size: 25px;
    transition: all .3s ease-in-out;
}

.navbar-brand:hover{
    text-decoration: none;
}

.bg-MDe{
  background-color: rgba(36, 36, 41, 0);
}

#theArticle{
    margin-bottom: 2vw;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1); 
    -moz-box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 25px -7px rgba(36, 36, 41, 1);
}

.title{
    text-align: center;
    background-color: white;
    margin-top: 2vw;
}

.uTitle{
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
    color: #474646;
    margin-bottom: 1.5rem;
}

.content{
    background-color: white;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.ad{
    background-color: #ffffff;
    margin-bottom: 2vw;
    padding: .8vw;
    border-radius: 20px;
    text-align: justify;
    -webkit-box-shadow: 0px 10px 21px -9px rgba(36, 36, 41, 1);
    -moz-box-shadow: 0px 10px 21px -9px rgba(36, 36, 41, 1);
    box-shadow: 0px 10px 21px -9px rgba(36, 36, 41, 1);
}

.adBtn{
    width: 100% !important;
    border-radius: 20px !important;
}

#footr{
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

footer > .rows > .col-md-3 > a{
    color: #909090;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-decoration: none;
    
}

footer > .rows > .col-md-3 > a:hover{
    color: #e9820c;
    text-decoration: underline;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 767px){
    .ad{
        padding: 2vw;
    }

    .adHid{
        display: none;
    }
}